# Core ML
torch
torchvision
numpy
scikit-learn
pandas
pillow
matplotlib

# Experiment Tracking & Pipeline
mlflow
dvc

# Inference API
fastapi
uvicorn
python-multipart
prometheus-fastapi-instrumentator

# Utilities
python-dotenv
requests
httpx

# Testing
pytest
